.container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav .logo img {
  width: 113.45px;
  height: 33.72px;
}
.container .nav .menu {
  display: flex;
  list-style: none;
}
.container .nav .menu li {
  position: relative;
}
.container .nav .menu li:not(:last-child) {
  margin-right: 30px;
}
.container .nav .menu li a {
  text-decoration: none;
  color: #2a333e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
}
.container .nav .menu li:hover::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  bottom: -3px;
  width: 100%;
  background-color: red;
}
.container .nav .menu .active::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  bottom: -3px;
  width: 100%;
  background-color: red;
}
.container .nav .right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .nav .right-menu > div:not(:last-child) {
  margin-right: 35.5px;
}
.container .nav .right-menu .basket {
  position: relative;
}
.container .nav .right-menu .basket .sell-number {
  position: absolute;
  left: 14px;
  top: -16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: #ea0000;
}
.container .nav .right-menu .basket .sell-number span {
  text-align: center;
  width: 14px;
  height: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.container {
  margin: auto;
  max-width: 1440px;
  padding: 70px;
}

.slider {
  display: flex;
  margin-bottom: 100px;
}
.slider .section-text {
  width: 50%;
  display: flex;
}
.slider .section-text .next-prev {
  display: flex;
  flex-direction: column;
}
.slider .section-text .next-prev > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ea0025;
  margin: 15px 0;
  opacity: 0.1;
}
.slider .section-text .next-prev > .active {
  background-color: #ea0025;
  opacity: 1;
}
.slider .section-text .text-content {
  margin-left: 50px;
}
.slider .section-text .text-content h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ea0000;
  margin-bottom: 30px;
}
.slider .section-text .text-content h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 182px;
  line-height: 100px;
  letter-spacing: -0.1em;
  color: #ea0000;
  margin-bottom: 50px;
}
.slider .section-text .text-content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  margin-bottom: 30px;
}
.slider .section-text .text-content .btn {
  margin-bottom: 80px;
}
.slider .section-text .text-content .btn > :first-child {
  color: white;
  width: 223px;
  height: 65px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.slider .section-text .text-content .btn > :last-child {
  color: white;
  width: 223px;
  height: 65px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border: none;
  line-height: 28px;
  background: #2a333e;
  box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  border-radius: 10px;
}
.slider .section-text .text-content .time-food {
  display: flex;
  align-items: center;
}
.slider .section-text .text-content .time-food > :first-child {
  margin-right: 80px;
}
.slider .section-text .text-content .time-food .lunch > :first-child,
.slider .section-text .text-content .time-food .dinner > :first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #2a333e;
}
.slider .section-text .text-content .time-food .lunch > :last-child,
.slider .section-text .text-content .time-food .dinner > :last-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  opacity: 0.5;
}
.slider .section-img {
  overflow: hidden;
}
.slider .section-img img {
  position: absolute;
  width: 879px;
  height: 891px;
  right: 300px;
  top: 50px;
  background: url(chicken-shish-kebab-with-vegetables-isolated-top-view-copy-space.jpg);
  mix-blend-mode: multiply;
}

.service {
  text-align: center;
}
.service h6 {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.service .h1-store {
  margin-bottom: 100px;
  position: relative;
}
.service .h1-store h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.service .h1-store img {
  width: 183px;
  height: 21px;
  transform: translateX(-61px);
}
.service .services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .services .service-1 {
  position: relative;
}
.service .services .service-1:not(:last-child) {
  margin-right: 100px;
}
.service .services .service-1 img {
  width: 180px;
  height: 180px;
}
.service .services .service-1 .review {
  margin-bottom: 25px;
  margin-top: -58px;
}
.service .services .service-1 .review img {
  width: 15px;
  height: 15px;
}
.service .services .service-1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #2a333e;
  margin-bottom: 15px;
}
.service .services .service-1 h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #2a333e;
  margin-bottom: 40px;
}
.service .services .service-1 button {
  width: 202px;
  height: 47px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #f9f9f9;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}

.more-product {
  display: flex;
  justify-content: space-between;
}
.more-product .food-category {
  width: 22%;
  position: relative;
}
.more-product .food-category::after {
  content: "";
  position: absolute;
  width: 3.65px;
  height: 452.91px;
  left: 282.46px;
  top: 20.15px;
  background: #ea0000;
  opacity: 0.05;
}
.more-product .food-category::before {
  content: "";
  position: absolute;
  width: 3.65px;
  height: 53.57px;
  left: 282.46px;
  top: 20.15px;
  background: #2a333e;
}
.more-product .food-category .btn {
  margin-bottom: 57px;
  display: flex;
  padding: 10px;
  align-items: center;
  width: 206.98px;
  height: 69.35px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.more-product .food-category .btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.34px;
  height: 53.34px;
  background: #fdfefe;
  box-shadow: 0px 32.0065px 42.6753px rgba(122, 122, 122, 0.08);
  border-radius: 10.6688px;
}
.more-product .food-category .btn div img {
  width: 41px;
  height: 41px;
}
.more-product .food-category .btn span {
  margin-left: 17.5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14.61px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
}
.more-product .food-category .categorys {
  display: flex;
  align-items: center;
  margin: 26px 0;
}
.more-product .food-category .categorys img {
  margin-right: 18.5px;
}
.more-product .food-category .categorys span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14.61px;
  line-height: 17px;
  text-transform: capitalize;
  color: #2a333e;
  opacity: 0.5;
}
.more-product .food-screen {
  width: 770.68px;
  height: 521.09px;
  background: #f3dedc;
  border-radius: 30.4376px;
  padding: 73px;
  position: relative;
}
.more-product .food-screen .faster-food {
  width: 303px;
  height: 43.83px;
  padding-left: 19px;
  background-color: #ffd9d6;
  border: 1.2175px solid #fcc7c3;
  border-radius: 60.8751px;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.more-product .food-screen .faster-food p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2a333e;
}
.more-product .food-screen .faster-food img {
  width: 62.79px;
  height: 63.79px;
}
.more-product .food-screen h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 62px;
  letter-spacing: -0.06em;
  color: #ea0000;
  margin-bottom: 21px;
}
.more-product .food-screen .text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14.61px;
  line-height: 34px;
  color: #2a333e;
  margin-bottom: 41px;
}
.more-product .food-screen button {
  width: 171px;
  height: 59px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #2a333e;
  box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  border-radius: 10px;
}
.more-product .food-screen .icon-coffee {
  position: absolute;
  width: 263px;
  height: 263px;
  left: 585px;
  top: 393px;
}
.more-product .food-screen .mint-leaf {
  position: absolute;
  width: 81px;
  height: 49px;
  left: 459px;
  top: -33px;
}

.best-sallers {
  position: relative;
}
.best-sallers .header {
  text-align: center;
}
.best-sallers .header h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.best-sallers .header h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.best-sallers .cards {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.best-sallers .cards .card-1 {
  flex-grow: 1;
  width: 370px;
  height: 410px;
  background: #ffffff;
  border: 1.2px solid #efefef;
  border-radius: 24px;
  padding: 28px;
}
.best-sallers .cards .card-1 .img {
  text-align: center;
}
.best-sallers .cards .card-1 .img img {
  margin-bottom: -180px;
}
.best-sallers .cards .card-1 .review {
  margin-bottom: 25px;
}
.best-sallers .cards .card-1 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2a333e;
}
.best-sallers .cards .card-1 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #2a333e;
}
.best-sallers .cards .card-1 .prices {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-sallers .cards .card-1 .prices span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2a333e;
}
.best-sallers .cards .card-1 .prices .share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.best-sallers .cards .card-1 .prices .share > :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.best-sallers .cards .card-1 .prices .share > :first-child img {
  width: 16px;
  height: 14px;
}
.best-sallers .cards .card-1 .prices .share > :last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background: #2a333e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.best-sallers .cards .card-1 .prices .share > :last-child img {
  width: 16px;
  height: 14px;
}
.best-sallers .all-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.best-sallers .all-menu .all-menu-btn {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 188px;
  height: 62px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.best-sallers .all-menu .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #ffffff;
  color: #ea0000;
  box-shadow: 0px 10px 20px rgba(185, 66, 42, 0.19);
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
}
.best-sallers .all-menu span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.best-sallers .decore {
  position: absolute;
  width: 50px;
  height: 42px;
  left: 1297px;
  top: 555px;
}

.our-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fef2f2;
}
.our-app .section-1 {
  width: 40%;
  background-color: white;
  margin-right: 200px;
}
.our-app .section-1 .nav .nav-1 > div:first-child {
  width: 36px;
  height: 2px;
  background-color: #2a333e;
  margin-bottom: 3px;
}
.our-app .section-1 .nav .nav-1 > div:last-child {
  width: 18px;
  height: 2px;
  background-color: #2a333e;
}
.our-app .section-1 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #2a333e;
  margin-bottom: 100px;
}
.our-app .section-1 .grid {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.our-app .section-1 .grid .grid-1 {
  flex-grow: 1;
  position: relative;
  background: #ffffff;
  box-shadow: 8px 8px 50px rgba(234, 0, 37, 0.17);
  border-radius: 8px;
  width: 211px;
  padding: 10px;
}
.our-app .section-1 .grid .grid-1 .plate {
  position: absolute;
  left: -26px;
  top: -88px;
  width: 307px;
}
.our-app .section-1 .grid .grid-1 h2 {
  margin-top: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #2a333e;
  margin-bottom: 8px;
}
.our-app .section-1 .grid .grid-1 .review {
  margin-bottom: 22px;
}
.our-app .section-1 .grid .grid-1 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-app .section-1 .grid .grid-1 .price span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #2a333e;
}
.our-app .section-1 .grid-2 {
  background: #ffffff;
  box-shadow: 8px 8px 50px rgba(234, 0, 37, 0.17);
  border-radius: 8px;
  padding: 10px;
  margin: 30px 0;
  position: relative;
}
.our-app .section-1 .grid-2 h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2a333e;
}
.our-app .section-1 .grid-2 .review {
  margin-bottom: 50px;
}
.our-app .section-1 .grid-2 .price span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #2a333e;
}
.our-app .section-1 .grid-2 .price .plate {
  position: absolute;
  right: -129px;
  top: 16px;
}
.our-app .section-1 .footer {
  position: relative;
  background-color: #f6dede;
  border-radius: 35px;
  padding: 30px;
}
.our-app .section-1 .footer .icons {
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.our-app .section-1 .footer .icons .left-icon,
.our-app .section-1 .footer .icons .right-icon {
  display: flex;
  align-items: center;
}
.our-app .section-1 .footer .icons .left-icon > div,
.our-app .section-1 .footer .icons .right-icon > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.our-app .section-1 .footer .icons .left-icon > div:not(:last-child),
.our-app .section-1 .footer .icons .right-icon > div:not(:last-child) {
  margin-right: 30px;
}
.our-app .section-1 .footer .icons .left-icon > div img,
.our-app .section-1 .footer .icons .right-icon > div img {
  width: 30px;
  margin-bottom: 5px;
}
.our-app .section-1 .footer .icons .left-icon > div span,
.our-app .section-1 .footer .icons .right-icon > div span {
  margin-top: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  text-align: center;
  color: #2a333e;
}
.our-app .section-1 .footer .icons .bag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 242px;
  top: -20px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 50%;
}
.our-app .section-1 .footer .decore {
  position: absolute;
  width: 120px;
  height: 49px;
  left: -30px;
  top: 74px;
}
.our-app .section-2 {
  padding: 100px 0 0 0;
}
.our-app .section-2 h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2a333e;
}
.our-app .section-2 h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 60px;
  letter-spacing: -0.08em;
  color: #ea0000;
  margin-bottom: 21px;
  margin-top: 12px;
}
.our-app .section-2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  /* Text */
  color: #2a333e;
}
.our-app .section-2 .btn {
  margin-top: 62px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.our-app .section-2 .btn > :first-child {
  margin-right: 48px;
}

.testimonial .header {
  text-align: center;
  margin-bottom: 130px;
  position: relative;
}
.testimonial .header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.testimonial .header h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 60px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.testimonial .header img {
  position: absolute;
  top: 98px;
}
.testimonial .sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}
.testimonial .sections .section-1 {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}
.testimonial .sections .section-1 .profil {
  margin-right: 25px;
}
.testimonial .sections .section-1 .grid h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2a333e;
  margin-bottom: 8px;
}
.testimonial .sections .section-1 .grid span {
  margin-bottom: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2a333e;
}
.testimonial .sections .section-1 .grid .review {
  margin: 17px 0;
}
.testimonial .sections .section-1 .grid p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2a333e;
}
.testimonial .sections .section-1 .grid p span {
  color: #ea0000;
  font-weight: bold;
}
.testimonial .base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 156px;
  background: #ffffff;
  max-width: 888px;
  border: 1px solid #ea0000;
  border-radius: 47px;
  padding: 30px 0;
  transform: translateX(25%);
}
.testimonial .base .header {
  margin-bottom: 34px;
}
.testimonial .base .header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #2a333e;
  margin-bottom: 34px;
}
.testimonial .base .header img {
  position: absolute;
  top: 29px;
  left: 25px;
}
.testimonial .base p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #2a333e;
  margin-bottom: 25px;
}
.testimonial .base .input {
  border: 1px solid #ea0000;
  border-radius: 47px;
  width: 448px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 3px;
}
.testimonial .base .input span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #2a333e;
}
.testimonial .base .input .subscribe {
  background: #ea0000;
  border-radius: 47px;
  width: 116px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.footer {
  background: #2a333e;
  margin-top: -219px;
}
.footer h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 11.5px 0;
  /* or 156% */
  color: #ffffff;
}
.footer .col {
  padding: 130px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.footer .col .col-1 {
  width: 25%;
}
.footer .col .col-1 .logo {
  margin-bottom: 60px;
}
.footer .col .col-1 .social-media img:not(:last-child) {
  margin-right: 16px;
}
.footer .col .col-2 > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .col .col-2 > div img {
  margin-right: 20px;
}
.footer .col .copyright {
  text-align: center;
}/*# sourceMappingURL=style.css.map */