.container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav .logo img {
  width: 113.45px;
  height: 33.72px;
}
.container .nav .menu {
  display: flex;
  list-style: none;
}
.container .nav .menu li {
  position: relative;
}
.container .nav .menu li:not(:last-child) {
  margin-right: 30px;
}
.container .nav .menu li a {
  text-decoration: none;
  color: #2a333e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
}
.container .nav .menu li:hover::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  bottom: -3px;
  width: 100%;
  background-color: red;
}
.container .nav .menu .active::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  bottom: -3px;
  width: 100%;
  background-color: red;
}
.container .nav .right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .nav .right-menu > div:not(:last-child) {
  margin-right: 35.5px;
}
.container .nav .right-menu .basket {
  position: relative;
}
.container .nav .right-menu .basket .sell-number {
  position: absolute;
  left: 14px;
  top: -16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: #ea0000;
}
.container .nav .right-menu .basket .sell-number span {
  text-align: center;
  width: 14px;
  height: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.container {
  padding: 70px;
}

.slider {
  display: flex;
  margin-bottom: 100px;
}
.slider .section-text {
  width: 50%;
  display: flex;
}
.slider .section-text .next-prev {
  display: flex;
  flex-direction: column;
}
.slider .section-text .next-prev > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ea0025;
  margin: 15px 0;
  opacity: 0.1;
}
.slider .section-text .next-prev > .active {
  background-color: #ea0025;
  opacity: 1;
}
.slider .section-text .text-content {
  margin-left: 50px;
}
.slider .section-text .text-content h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ea0000;
  margin-bottom: 30px;
}
.slider .section-text .text-content h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 182px;
  line-height: 100px;
  letter-spacing: -0.1em;
  color: #ea0000;
  margin-bottom: 50px;
}
.slider .section-text .text-content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  margin-bottom: 30px;
}
.slider .section-text .text-content .btn {
  margin-bottom: 80px;
}
.slider .section-text .text-content .btn > :first-child {
  color: white;
  width: 223px;
  height: 65px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.slider .section-text .text-content .btn > :last-child {
  color: white;
  width: 223px;
  height: 65px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border: none;
  line-height: 28px;
  background: #2a333e;
  box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  border-radius: 10px;
}
.slider .section-text .text-content .time-food {
  display: flex;
  align-items: center;
}
.slider .section-text .text-content .time-food > :first-child {
  margin-right: 80px;
}
.slider .section-text .text-content .time-food .lunch > :first-child,
.slider .section-text .text-content .time-food .dinner > :first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #2a333e;
}
.slider .section-text .text-content .time-food .lunch > :last-child,
.slider .section-text .text-content .time-food .dinner > :last-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  opacity: 0.5;
}
.slider .section-img img {
  position: absolute;
  width: 879px;
  height: 891px;
  left: 566px;
  top: 50px;
  background: url(chicken-shish-kebab-with-vegetables-isolated-top-view-copy-space.jpg);
  mix-blend-mode: multiply;
}

.service {
  text-align: center;
}
.service h6 {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.service .h1-store {
  margin-bottom: 100px;
  position: relative;
}
.service .h1-store h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.service .h1-store img {
  width: 183px;
  height: 21px;
  transform: translateX(-61px);
}
.service .services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .services .service-1 {
  position: relative;
}
.service .services .service-1:not(:last-child) {
  margin-right: 100px;
}
.service .services .service-1 img {
  width: 180px;
  height: 180px;
}
.service .services .service-1 .review {
  margin-bottom: 25px;
  margin-top: -58px;
}
.service .services .service-1 .review img {
  width: 15px;
  height: 15px;
}
.service .services .service-1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #2a333e;
  margin-bottom: 15px;
}
.service .services .service-1 h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #2a333e;
  margin-bottom: 40px;
}
.service .services .service-1 button {
  width: 202px;
  height: 47px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #f9f9f9;
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */